.diagramTable {
  max-width: 280px;
  padding: 32px 0 50px;
  margin-left: auto;
  margin-right: auto;
}

.table {
  max-width: 280px;
}

.tableHead {
  display: flex;
  border-radius: 30px 30px 30px 30px;
  background-color: var(--text-white-color);
  height: 58px;
}

.trHead {
  display: table;
}

.tableTop {
  font-size: 18px;
  font-weight: 700;
  font-family: var(--title-font);
  line-height: 1.45;
  width: 220px;
  text-align: start;
  padding-left: 20px;
}

.tableTop2 {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.45;
  font-family: var(--title-font);
  min-width: 80px;
  padding-right: 20px;
}

.body {
  border-bottom: 1px #16161a;
}

.listItem {
  width: 280px;
  display: table;
  height: 50px;
  border-color: #dcdcdf;
  border-bottom: 1px solid #dcdcdf;
}

.color {
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 16px;
}

.nameTansaction {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--main-font);
  line-height: 1.3;
  align-items: center;
  display: flex;
  text-align: start;
  height: 52px;
  margin-left: 20px;
}

.costs {
  padding-right: 20px;
  font-size: 16px;
  font-weight: 400;
  font-family: var(--main-font);
  line-height: 1.45;
  height: 52px;
  width: 80px;
  align-items: center;
  text-align: end;
}

@media screen and (min-width: 768px) {
  .diagramTable__section {
    display: flex;
  }

  .diagramTable {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .table {
    max-width: 336px;
  }

  .trHead {
    max-width: 336px;
  }

  .tableTop2 {
    padding: 0;
  }

  .listItem {
    width: 336px;
  }
}

@media screen and (min-width: 1280px) {
  .table {
    max-width: 395px;
  }

  .diagramTable__section {
    width: 63%;
    margin-top: 40px;
  }

  .diagramTable {
    padding: 0;
    margin: 65px 0 45px;
    max-width: 395px;
  }

  .trHead {
    max-width: 395px;
  }

  .tableTop {
    width: 270px;
  }

  .listItem {
    width: 395px;
  }
}
