.btn {
  display: inline-block;
  border-radius: 20px;
  width: 280px;
  height: 50px;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: var(--btn-primary-bg-color);
  transform: scale(1);
  color: var(--btn-primary-color);
  transition: background-color var(--animation), color var(--animation), transform var(--animation);
}

@media (min-width: 768px) {
  .btn {
    width: 300px;
  }
}

.btn:hover {
  background-color: var(--btn-secondary-color);
  color: var(--btn-primary-color);
  transform: scale(1.04);
}

.btn:active {
  transform: scale(0.95);
}

.btn__primary {
  composes: btn;
  border: none;
}

.btn__secondary {
  composes: btn;
  color: var(--btn-secondary-color);
  background-color: var(--btn-primary-color);
  border: var(--btn-secondary-border);
}

.btn__tetriary {
  composes: btn;
  border: none;
  background: var(--btn-tetriary-color);
}

.btn__secondary-logout {
  composes: btn__secondary;
  width: 100px;
}

.btn__primary-logout {
  composes: btn__primary;
  width: 100px;
}

@media (min-width: 400px) {
  .btn__secondary-logout {
    width: 130px;
  }

  .btn__primary-logout {
    width: 130px;
  }
}

@media (min-width: 768px) {
  .btn__secondary-logout {
    width: 160px;
  }

  .btn__primary-logout {
    width: 160px;
  }
}
