.btn {
  display: block;
  border-radius: 20px;
  width: 280px;
  height: 50px;
  font-family: var(--main-font);
  font-size: 18px;
  line-height: 1.5;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color var(--animation), transform var(--animation);
}

@media (min-width: 768px) {
  .btn {
    width: 300px;
  }
}

.btn:hover {
  background-color: var(--earnings-green-color);
  color: var(--text-white-color);
  transform: scale(1.1);
  transition: background-color var(--animation), color var(--animation), scale var(--animation);
}

.btn__primary {
  composes: btn;
  color: var(--text-white-color);
  background-color: var(--earnings-green-color);
  border: none;
}

.btn__secondary {
  composes: btn;
  color: var(--main-currency-bg-color);
  background-color: var(--text-white-color);
  border: 1px solid var(--main-currency-bg-color);
}

.btn__secondary-logout {
  composes: btn__secondary;
  width: 160px;
}

.btn__primary-logout {
  composes: btn__primary;
  width: 160px;
}
