.sectionDoughnut {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-size: 30px;
  font-weight: 400;
  font-family: var(--title-font);
  list-style: 1.5;
  margin-bottom: 10px;
}

.doughnut {
  margin-top: 8px;
}

@media screen and (min-width: 768px) {
  .sectionDoughnut {
    width: 336px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .doughnut {
    width: 336px;
  }

  .title {
    width: 336px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .sectionDoughnut {
    width: 288px;
  }

  .doughnut {
    width: 288px;
  }

  .title {
    width: 288px;
  }
}
