@import './variables.css';

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

p {
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

link {
  text-decoration: none;
}

body {
  color: var(--title-black-color);
  font-family: var(--main-font);
  background-color: var(--primary-bg-color);
  cursor: default;
}

a {
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  body {
    background-color: #e7eaf2;
    background-repeat: no-repeat;
    background-image: url(images/pink_elipse.svg);
    background-position: top -150px right -150px;
  }

  body::after {
    content: '';
    position: absolute;
    display: block;
    top: 1px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-image: url(images/purple_elipse.svg);
    background-position: bottom -130px left -142px;
    z-index: -2;
  }
}

@media screen and (min-width: 1280px) {
  body {
    background-position: top -150px right -150px;
  }

  body::after {
    background-position: bottom -130px left -152px;
  }
}

.container {
  width: 100%;
  max-width: 480px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 32px;
    padding-right: 32px;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--btn-primary-bg-color);
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
