:root {
  /* Fonts */
  --main-font: 'Montserrat', sans-serif;
  --title-font: 'Poppins', sans-serif;

  /* Text Colors */
  --title-black-color: #000000;
  --text-white-color: #ffffff;
  --header-grey-color: #bdbdbd;
  --balance-grey-color: #a6a6a6;
  --earnings-green-color: #24cca7;
  --expenditure-red-color: #ff6596;

  /* Modal Text Colors */
  --main-grey-color: #bdbdbd;
  --grey-color: #e0e0e0;

  /* Backgroung Color */
  --primary-bg-color: rgba(231, 234, 242, 1);
  --main-currency-bg-color: #4a56e2;
  --header-currency-bg-color: #6e78e8;
  --modal-list-bg-color: rgba(255, 255, 255, 0.7);
  --hometab-title-bg-color: #6e78e8;
  --hometab-primary-bg-color: #ffffff;
  --hometab-bg-color: transparent;
  --secondary-bg-color: #ffffff;

  /* Btn Color */
  --btn-primary-color: #ffffff;
  --btn-primary-bg-color: #24cca7;
  --btn-secondary-color: #4a56e2;
  --btn-secondary-bg-color: transparent;

  /* Statistics Color */
  --stat-main-color: #fed057;
  --stat-food-color: #ffd8d0;
  --stat-car-color: #fd9498;
  --stat-self-color: #c5baff;
  --stat-children-color: #6e78e8;
  --stat-home-color: #4a56e2;
  --stat-education-color: #81e1ff;
  --stat-leisure-color: #24cca7;
  --stat-other-color: #00ad84;

  /* Border */
  --btn-primary-border: 1px solid currentColor;
  --btn-secondary-border: 1px solid #4a56e2;
  --model-border: 1px solid #e0e0e0;
  --hometab-border-income: 5px solid #24cca7;
  --hometab-border-expense: 5px solid #ff6596;
  --hometab-border-hr: 1px solid #dcdcdf;

  /* Shadows */
  --modal-list-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
  --hometab-hr-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);

  /* Animations */
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --modal-animation: 400ms cubic-bezier(0.4, 0, 0.2, 1);

  /* Breakpoints */
  --mobile: 320px;
  --tablet: 768px;
  --desktop: 1280px;
}
