.sectionDoughnut {
  max-width: 280px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-size: 30px;
  font-weight: 400;
  font-family: var(--title-font);
  list-style: 1.5;
  margin-bottom: 10px;
}

.doughnut {
  margin-top: 8px;
}

@media screen and (min-width: 768px) {
  .sectionDoughnut {
    max-width: 336px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .doughnut {
    max-width: 336px;
  }

  .title {
    max-width: 336px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .sectionDoughnut {
    max-width: 288px;
  }
}

.balance__sum {
  font-family: var(--title-font);
  color: var(--title-black-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
   position: relative;
  left: 75px;
  top: 155px;
}

@media screen and (min-width: 768px) {
  .balance__sum{
    left: 100px;
    top: 180px;
  }
}

@media screen and (min-width: 1280px) {
  .balance__sum {
    left: 80px;
    top: 160px;
  }}
