.homeTab {
  list-style: none;
  max-width: 350px;

  padding: 0;
  margin-left: auto;
  margin-right: auto;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  color: var(--title-black-color);
}

.homeTab__items {
  margin-bottom: 8px;

  border-radius: 5px 10px 10px 5px;
}

.income {
  border-left: var(--hometab-border-income);
}

.expense {
  border-left: var(--hometab-border-expense);
}
