.tableSection {
  max-height: 60vh;
}

@media screen and (min-width: 1280px) {
  .tableSection {
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
  }
}

.table {
  margin-left: auto;
  margin-right: auto;
  max-width: 730px;

  border-spacing: 0;
}

thead th:nth-child(1) {
  width: 10%;
  padding-left: 20px;

  border-radius: 30px 0 0 30px;
  overflow: hidden;
}

thead th:nth-child(2) {
  width: 10%;
}

thead th:nth-child(3) {
  width: 30%;
}

thead th:nth-child(4) {
  width: 30%;
}

thead th:nth-child(5) {
  width: 10%;
}

thead th:nth-child(6) {
  width: 10%;
  padding-right: 20px;

  border-radius: 0 30px 30px 0;
  overflow: hidden;
}

thead th {
  background: white;
}

td:first-child {
  padding-left: 20px;
}

td:last-child {
  padding-right: 20px;
}

th,
td {
  padding: 15px 5px;
}

tr:not(:last-child) td {
  border-bottom: var(--hometab-border-hr);
  box-shadow: var(--hometab-hr-shadow);
}

.income {
  color: var(--earnings-green-color);
}

.expense {
  color: var(--expenditure-red-color);
}
