.tableSection {
  max-height: 60vh;
}

@media screen and (min-width: 1280px) {
  .tableSection {
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
    width: 63%;
  }
}

.table {
  margin-left: auto;
  margin-right: auto;
  max-width: 95%;

  border-spacing: 0;
}

.tableThead__th:nth-child(1) {
  width: 10%;
  padding-left: 20px;

  border-radius: 30px 0 0 30px;
  overflow: hidden;
}

.tableThead__th:nth-child(2) {
  width: 10%;
}

.tableThead__th:nth-child(3) {
  width: 30%;
}

.tableThead__th:nth-child(4) {
  width: 30%;
}

.tableThead__th:nth-child(5) {
  width: 10%;
}

.tableThead__th:nth-child(6) {
  width: 10%;
  padding-right: 20px;

  border-radius: 0 30px 30px 0;
  overflow: hidden;
}

.tableThead__th {
  background: white;
}

.tbody__td:first-child {
  padding-left: 20px;
}

.tbody__td:last-child {
  padding-right: 20px;
}

.tableThead__th,
.tbody__td {
  padding: 15px 5px;
}

.tbody__tr:not(:last-child) .tbody__td {
  border-bottom: var(--hometab-border-hr);
  box-shadow: var(--hometab-hr-shadow);
}

.income {
  color: var(--earnings-green-color);
}

.expense {
  color: var(--expenditure-red-color);
}

.homeTab__bg {
  margin: 20px auto;

  mix-blend-mode: luminosity;
  opacity: 0.2;
}
