.homeTab__section {
  display: flex;
  justify-content: center;
}

.tableSection {
  display: inline-block;
}

.table {
  width: 694px;
  table-layout: fixed;
  border-spacing: 0;

  word-wrap: break-word;
}

.tableTitle {
  padding-right: 10px;
}

.tableCell:nth-child(1) {
  width: 115px;
  padding-left: 20px;
}

.tableCell:nth-child(2) {
  width: 54px;
}

.tableCell:nth-child(3) {
  width: 140px;
}

.tableCell:nth-child(4) {
  width: 145px;
}

.tableCell:nth-child(5) {
  width: 120px;
}

.tableCell:nth-child(6) {
  width: 120px;
  padding-right: 20px;
}

.tableThead .tableCell:first-child {
  border-radius: 30px 0 0 30px;
}

.tableThead .tableCell:last-child {
  border-radius: 0 30px 30px 0;
}

.tableThead .tableCell {
  background: white;
}

.tableCell {
  padding: 15px 5px;
}

.tbody__tr .tableCell {
  border-bottom: var(--hometab-border-hr);
  box-shadow: var(--hometab-hr-shadow);
}

.income {
  color: var(--earnings-green-color);
}

.expense {
  color: var(--expenditure-red-color);
}

.homeTab__bg {
  margin: 20px auto;

  mix-blend-mode: luminosity;
  opacity: 0.2;
}

.message {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 5px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  border-bottom: var(--hometab-border-hr);
  box-shadow: var(--hometab-hr-shadow);
}

.message i {
  padding: 0 5px;
}

@media screen and (min-width: 1280px) {
  .tableSection {
    margin-top: 45px;

    padding-left: 32px;
  }

  .table {
    width: 724px;
  }

  .tableTitle {
    padding-right: 10px;
  }

  .tableCell:nth-child(1) {
    width: 115px;
    padding-left: 20px;
  }

  .tableCell:nth-child(2) {
    width: 54px;
  }

  .tableCell:nth-child(3) {
    width: 150px;
  }

  .tableCell:nth-child(4) {
    width: 155px;
  }

  .tableCell:nth-child(5) {
    width: 120px;
  }

  .tableCell:nth-child(6) {
    width: 130px;
    padding-right: 20px;
  }
}
