h1,
p {
  margin: 0;
  padding: 0;
}

.authForm {
  display: block;
  padding-top: 110px;
  min-width: 320px;
}

.logo {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.logoIcon {
  margin-left: auto;
  margin-right: auto;
  width: 120px;
  height: 30px;
}

.input {
  width: 280px;
  height: 34px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding-left: 55px;
  font-size: 18px;
  line-height: 27px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 0.5px, solid;
  border-color: #e7eaf2;
}

::placeholder {
  color: #bdbdbd;
}

.inputIcon {
  position: absolute;
  left: 10px;
  bottom: 3px;
  fill: var(--grey-color);
  cursor: pointer;
}

.inputIcon :hover {
  fill: var(--main-currency-bg-color);
}

.authLabel {
  position: relative;
  width: 280px;
  margin-left: 20px;
  margin-right: 20px;
}

/* Button */

.logBtn,
.regBtn {
  display: block;
  width: 280px;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  border-radius: 20px;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.1em;
  cursor: pointer;
}

.logBtn {
  background-color: var(--btn-primary-bg-color);
  border-color: transparent;
  outline: none;
  color: white;
  cursor: pointer;
}

.regBtn {
  background-color: #ffffff;
  color: var(--btn-secondary-color);
  border: 1px solid var(--btn-secondary-color);
  cursor: pointer;
}

.authLink {
  outline: none;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .form {
    text-align: center;
    height: 100vh;
    width: 320px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .logoIcon {
    width: 181px;
    height: 40px;
    margin-top: 40px;
    margin-left: 180px;
  }

  .authForm {
    background-color: var(--secondary-bg-color);
    margin-right: auto;
    margin-left: auto;
    margin-top: 148px;
    padding: 40px 65px 60px;
    width: 540px;
    height: 100%;
    border-radius: 20px;
  }

  .authLabel {
    margin-left: auto;
    margin-right: auto;
  }

  .input {
    width: 410px;
    margin-top: 20px;
    margin-bottom: 20px;
    outline: none;
  }

  /*Button*/

  .logBtn,
  .regBtn {
    display: inline;
    width: 300px;
    margin-left: 55px;
  }

  .logBtn {
    margin-top: 30px;
    margin-bottom: 0px;
  }

  .regBtn {
    margin-top: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .authForm {
    width: 540px;
    height: auto;
    margin-top: 136px;
    margin-bottom: 116px;
  }
}
