.accountForm {
  width: 280px;
  margin: 55px auto 0;
  padding: 32px 0;
  background: white;
}

.accountTitle {
  margin-bottom: 12px;
  text-align: center;

  font-weight: 400;
  line-height: 1.5;
}

.accountImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.inputFile__button {
  width: 200px;

  background: #4a56e2;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  color: #fff;

  display: block;
  cursor: pointer;
  margin: 0 auto 30px;
}

.inputFile {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.inputFile__wrapper {
  height: 35px;
  display: flex;
  align-items: center;
}

.inputFile__iconWrapper {
  padding: 0 10px;
  border-right: 1px solid #fff;
}

.inputFile__icon {
  height: 20px;
  width: 20px;
}

.inputFile__title {
  width: 100%;
  text-align: center;
}

.subscriptionTite {
  margin-bottom: 70px;
  text-align: center;
  color: var(--subscription-green-color);
}

.accountLabel {
  position: relative;
  width: 280px;
  color: var(--grey-color);
  transition: color var(--animation);
}

.accountLabel:hover,
.accountLabel:focus-within {
  color: var(--main-currency-bg-color);
}

.accountInput {
  width: 280px;
  height: 34px;
  margin-bottom: 45px;
  padding-left: 10px;
  font-size: 18px;
  line-height: 27px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 0.5px, solid;
  border-color: #e7eaf2;
}

::placeholder {
  color: #bdbdbd;
}

.accountPlaceholder {
  position: absolute;
  left: 10px;
  bottom: 32px;
  fill: currentColor;
  cursor: pointer;
}

.accountPlaceholder__title {
  margin-left: 10px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 120px;
}
