.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
}

.link {
  display: flex;
  width: 38px;
  height: 38px;
  margin: 0 16px;
  text-decoration: none;
  cursor: pointer;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
  color: var(--header-currency-bg-color);
  transition: color var(--animation), background-color var(--animation);
}

.active,
.link:hover {
  font-weight: 700;
  color: var(--main-currency-bg-color);
  background-color: var(--secondary-bg-color);
  box-shadow: 0px 3px 10px rgba(74, 86, 226, 0.5);
  border-radius: 6px;
}

.linkBtn {
  display: flex;
  align-items: center;
  color: currentColor;
}

.iconBox {
  display: flex;
  align-items: center;
  border-radius: 6px;
  color: currentColor;
  background-color: transparent;
}

.icon {
  width: 44px;
  height: 44px;
  margin: -3px;
  fill: currentColor;
}

.textBox {
  display: none;
  color: var(--title-black-color);
}

@media screen and (min-width: 768px) {
  .nav__section {
    width: 340px;
    margin-left: auto;
    margin-right: auto;
  }

  .nav {
    padding: 0 6px 15px;
    flex-direction: column;
    align-items: flex-start;
  }

  .link {
    width: 18px;
    height: 18px;
    margin: 12px 0;
  }

  .linkNone {
    display: none;
  }

  .icon {
    width: 23px;
    height: 23px;
    margin: -3px;
    fill: currentColor;
  }

  .textBox {
    display: block;
    margin-left: 23px;
  }
}

@media screen and (min-width: 1280px) {
  .nav__section {
    width: 395px;
  }
}
