.modal {
  padding: 20px 15px 40px;
  width: 100%;
  max-width: 320px;
  background-color: var(--text-white-color);
}

@media (min-width: 320px) {
  .modal {
    border-radius: 20px;
    padding: 20px 20px 40px;
  }
}

@media (min-width: 400px) {
  .modal {
    max-width: 380px;
  }
}

@media (min-width: 768px) {
  .modal {
    padding-top: 40px 70px 60px;
    max-width: 540px;
  }
}

.form {
  display: flex;
  flex-direction: column;
}

.title {
  font-family: var(--title-font);
  font-weight: 400;
  font-size: 22px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .title {
    font-size: 30px;
  }
}

.formCheckbox {
  text-align: center;
  margin-bottom: 40px;
  color: var(--grey-color);
}

.formCheckbox__label {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;

  line-height: 1.5;
}

.formCheckbox__toggle {
  margin: 0 20px 0 20px;
}

.checkbox {
  position: relative;
  z-index: -1;
  opacity: 0;
}

.checkbox + label {
  position: relative;
  padding: 10px 0 10px 80px;
  cursor: pointer;
}

.checkbox + label:before {
  content: '';
  position: absolute;
  top: 2px;
  left: 0;
  width: 80px;
  height: 40px;
  border-radius: 20px;
  border: var(--model-border);
  transition: var(--animation);
}

.checkbox:hover + label:before {
  border: var(--btn-secondary-border);
}

.checkbox + label:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 36px;
  width: 44px;
  height: 44px;
  background: url(../../images/minus.svg) no-repeat center;
  background-color: var(--expenditure-red-color);
  border: none;
  color: var(--text-white-color);
  border-radius: 50%;
  box-shadow: 0 6px 15px 0 rgba(255, 101, 150, 0.5);
  transition: var(--animation);
}

.checkbox:checked + label:after {
  content: '';
  background: url(../../images/add.svg) no-repeat center;
  background-color: var(--earnings-green-color);
  box-shadow: 0 6px 15px 0 rgba(36, 204, 167, 0.5);
  left: -2px;
}

.formCategories,
.formInput,
.formDate,
.formComent {
  width: 100%;
  margin-bottom: 40px;
  padding-left: 20px;
  font-size: 18px;
  line-height: 1.5;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid;
  border-color: var(--grey-color);
  transition: border-color var(--animation);
}

.formCategories:hover,
.formInput:hover,
.formDate:hover,
.formComent:hover,
.formCategories:focus,
.formInput:focus,
.formDate:focus,
.formComent:focus {
  border-color: var(--btn-secondary-color);
}

@media (min-width: 768px) {
  .formInput {
    margin-right: 32px;
  }
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.formInput::placeholder,
.formComent::placeholder {
  color: var(--header-grey-color);
}

.formInput:-webkit-autofill,
.formInput:-webkit-autofill:hover,
.formInput:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--title-black-color);
  -webkit-box-shadow: 0 0 0px 1000px var(--text-white-color) inset;
}

::-webkit-calendar-picker-indicator {
  color: transparent;
  opacity: 1;
  background: url(../../images/calendar.svg) no-repeat center;
  background-size: contain;
}

.formDate:invalid::-webkit-datetime-edit {
  color: var(--header-grey-color);
}

.formComent {
  height: 85px;
  resize: none;
}

@media (min-width: 768px) {
  .formComent {
    height: 32px;
  }
}

option,
select {
  text-transform: capitalize;
}

@media (min-width: 768px) {
  .inputConatainer {
    display: flex;
    flex-direction: row;
  }
}

.btnContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 120px;
}

.inputIcon {
  position: absolute;
  right: 20px;
}
