.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 20px;
  background-color: var(--secondary-bg-color);
}

.nav {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  /* text-align: right; */
  color: var(--header-grey-color);
}

@media screen and (min-width: 767px) {
  .header {
    height: 80px;
    padding: 0 20px;
  }
}