.modalContainer {
  position: absolute;
  right: 50%;
  top: 10vh;
  width: 90%;
  max-width: 360px;
  padding: 16px;
  border-radius: 16px;
  background-color: #fff1eed9;
  box-shadow: 4px 4px 4px rgba(54, 54, 54, 0.2);
  transform: translateY(0%) translateX(50%);

  transition: transform var(--animation);
}

.modalContainerHidden {
  composes: modalContainer;
  transform: translateY(-300%) translateX(50%);
}

@media screen and (min-width: 768px) {
  .modalContainer {
    right: 2vw;
    top: 10vh;
    padding: 24px;
    transform: translateY(0%);
  }

  .modalContainerHidden {
    transform: translateY(-300%);
  }
}

@media screen and (min-width: 1800px) {
  .modalContainer {
    right: 10vw;
  }
}

.wrapper {
  width: 100%;
  height: 100%;
  opacity: 1;

  transition: opacity var(--animation);
}

.wrapperLoading {
  composes: wrapper;
  opacity: 0.7;
}

.buttonHide {
  position: absolute;
  right: 6px;
  top: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  color: rgb(67, 67, 67);
  cursor: pointer;
  opacity: 1;
  transition: color var(--animation);
  outline: none;

  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
}

.buttonHide:hover {
  color: var(--btn-secondary-color);
}

.icon {
  fill: currentColor;
}

.text {
  font-weight: 500;
  line-height: 1.4;
  color: rgb(67, 67, 67);
}

.button {
  background-color: var(--btn-primary-color);
  border: none;
  border-radius: 8px;
  padding: 6px 10px;
  margin-left: 8px;
  font-weight: 500;
  color: rgb(67, 67, 67);
  box-shadow: 3px 3px 2px rgba(54, 54, 54, 0.1);

  transition: color var(--animation), background-color var(--animation), opacity var(--animation);
}

.button:hover {
  background-color: var(--btn-secondary-color);
  color: var(--btn-primary-color);
  opacity: 0.8;
}
