.table__container {
  width: 100%;
  min-width: 280px;
  max-width: 350px;
  height: 174px;
  margin-left: auto;
  margin-right: auto;

  color: var(--text-white-color);
  background-color: var(--stat-home-color);
  border-radius: 30px;

  background-image: url('../../images/currency.svg');
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-size: 100%;

  overflow: hidden;
}

@media (min-width: 768px) {
  .table__container {
    width: 336px;
    height: 182px;
  }
}

@media (min-width: 1280px) {
  .table__container {
    margin-left: 0;
    width: 395px;
    height: 347px;
  }
}

.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 0;
}

.table__title {
  padding: 10px 0 12px;
  background-color: var(--header-currency-bg-color);
}

@media (min-width: 1280px) {
  .table__title {
    padding: 17px 0 16px;
  }
}

.table__title_row {
  font-size: 18px;
  height: 50px;
}

@media (min-width: 1280px) {
  .table__title_row {
    height: 60px;
  }
}

.table__text {
  padding-top: 14px;
  text-align: center;
}

@media (min-width: 768px) {
  .table__text {
    padding-top: 16px;
  }
}

@media (min-width: 1280px) {
  .table__text {
    padding-top: 24px;
  }
}